Andreas Franzén <andreas.franzen@osynlig.se> <frasse@frasses.(none)>
Andreas Franzén <andreas.franzen@osynlig.se> <frasse@ubuntu.(none)>
Bjørn Schjerve <bischjer@gmail.com> <bischjer@io.(none)>
David Buchmann <david.buchmann@gmail.com> <davbuchm@cisco.com>
Doug Winter <doug@isotoma.com> <doug.winter@isotoma.com>
Doug Winter <doug@isotoma.com> <doug@yarg.(none)>
Doug Winter <doug@isotoma.com> <doug@yarg>
Doug Winter <doug@isotoma.com> <winjer@gmail.com>
Alexandre Petitjean <alpetitjean@gmail.com>
Jean-Baptiste Mestelan <mestelan@gmail.com>
