include *.py
include *.rst
include .mailmap
include .readthedocs.yml
include AUTHORS
include LICENSE
include MANIFEST.in
include pyproject.toml
include tox.ini

recursive-include .circleci *
recursive-include .github *

recursive-include docs *
prune docs/_build

recursive-include examples *.py
prune examples/tmp

include spotify/api.h
include spotify/api.processed.h

recursive-include tests *.py

global-exclude __pycache__/*
