include *.rst
include LICENSE
include MANIFEST.in

recursive-include src *.c *.h

recursive-include spotify *.py

recursive-include docs *
prune docs/_build

recursive-include examples *

recursive-include tests *.py
